<%- include('shared/includes/head', {pageTitle: "About Us"}) %>
</head>

<body>
  <%- include('shared/includes/header') %>
  <main>
    <section>
      <div class="container intro">
        <div  class="anihidden"> 
          <h1>
            Introduction
          </h1>
          <p>
            The LNMIIT was founded in 2002 as a joint venture between Govt. of Rajasthan and Lakshmi & Usha Mittal (LUM) Foundation as a philanthropic initiative. With the emphasis on quality and rigour in education, the Institute began its first academic session in July 2003 and was granted Deemed-to-be-University status by UGC in 2006 under the De- Novo category.
          </p>
          <p>
            The Institute, in spite of being young, is considered as one of the best institutions in its chosen areas of higher learning, both in the state and the country. In addition to having been accredited by the National Assessment & Accreditation Council (NAAC) as an 'A' grade institution, all the engineering programmes of the institute are approved by the AICTE.
          </p>
          <p>
            With vision To create a niche for itself in both Indian and global arenas by adopting a multi-disciplinary approach with a focus on contemporarily relevant as well as emerging areas of research, development, teaching-learning, entrepreneurship, outreach and collaboration while maintaining an eco-system that would ensure work-life balance of its people (faculty & staff) and enable well-rounded personality development of its students.  It has been working hard to realize the vision of an advanced and self-sufficient community, actively contributing to the progress of the entire country.
        </p>
        </div>
        <div>
            <h1  class="anihidden">
                Who are we ?
            </h1>
            <p  class="anihidden">
                The LNMIIT Team of NSS is one of the active chapters of this scheme, which organizes various activities and events to contribute to the welfare of the society. Our team has a vision to create a positive impact on the lives of the people around them, especially the underprivileged and marginalized sections. It also strives to develop the skills and values of the volunteers, such as leadership, teamwork, empathy, and responsibility.
            </p>
        </div>
        <div>
          <h1  class="anihidden">
            What do we do ?
          </h1>
          <p  class="anihidden">
            The NSS unit of LNMIIT has been actively involved in various activities such as blood donation camps, cleanliness drives, tree plantation, awareness campaigns, and skill development programs. The NSS LNMIIT has also collaborated with other NGOs and institutions to work on issues such as education, health, environment, and women empowerment. The NSS LNMIIT strives to uphold the motto of "Not Me But You" and to foster a spirit of service among the youth.
          </p>
        </div>
        <div>
            <h1  class="anihidden" id="member">Our Team</h1>
            <div>
                <h2  class="anihidden">Faculty Coordinator</h2>
                <div  class="anihidden">
                    <img src="/images/banner/mukesh_sir.jpg" alt="Mr. Mukesh K Jadon">
                    <p>Mukesh K. Jadon</p>
                    <a target="_blank" href="https://www.lnmiit.ac.in/Employee_ProfileNew.aspx?nDeptID=eagga"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="20" height="20" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" fill="#606dbc" stroke="#606dbc">
                        <g transform="translate(0.000000,520.000000) scale(0.100000,-0.100000)">
                          <path d="M2321 5110 c-766 -75 -1462 -491 -1893 -1135 -156 -233 -302 -572 -362 -840 -49 -219 -60 -324 -60 -575 0 -250 11 -355 60 -575 73 -328 242 -689 452 -967 409 -541 1000 -888 1692 -995 161 -24 539 -24 700 1 452 69 840 231 1197 497 126 94 398 366 492 492 266 357 428 745 497 1197 25 161 25 539 1 700 -82 530 -304 1001 -646 1373 -406 440 -919 715 -1508 807 -148 24 -475 34 -622 20z m641 -1017 c185 -88 264 -290 183 -471 -30 -65 -113 -148 -180 -178 -195 -89 -440 -11 -533 171 -37 73 -43 197 -11 280 28 75 114 165 192 201 108 49 241 48 349 -3z m-387 -1037 c234 -50 359 -219 340 -460 -11 -135 -23 -189 -115 -518 -118 -416 -133 -483 -134 -598 -2 -145 29 -183 163 -200 72 -9 166 2 249 31 30 10 56 19 57 19 10 0 -44 -174 -56 -180 -37 -21 -340 -129 -394 -141 -76 -16 -262 -16 -340 1 -92 19 -164 58 -231 125 -87 86 -108 144 -108 295 1 143 13 205 120 583 110 391 127 463 128 572 1 104 -16 145 -74 180 -30 17 -51 20 -140 19 -87 0 -118 -5 -178 -27 l-72 -26 5 22 c3 12 13 53 23 91 l17 68 55 22 c110 45 303 108 368 121 87 17 241 18 317 1z" />
                        </g>
                      </svg>
                    </a>
                </div>
            </div>
            <div>
                <h2  class="anihidden">Members</h2>
            </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('shared/includes/footer') %>