<%- include('shared/includes/head', {pageTitle: "Blood Donation"}) %>
</head>

<body>
  <%- include('shared/includes/header') %>
  <main>
    <section>
      <div class="container blood_donation">
        <div class="anihidden">
          <h1>
            Blood Donation
          </h1>
          <p>
            NSS is organizing a blood donation camp in association with Blood Connect Organization in the nearby
            village.
            Our country faces a huge demand for blood- estimates suggest that we need an additional 12 lakh units of blood
            per year to meet the requirement. Replacement donation, paying money to touts for blood, infections caused by
            professional donors, all these are problems that our society is currently facing in this field.
          </p>
          <p>
            BloodConnect is a student initiative, which works to tackle the problem of blood shortage in India. Established in
            2010, we at BloodConnect believe that youth combined together can solve this problem. We have already
            organized 400+ blood donation camps, 10,000+ helpline, and 150+ awareness sessions.
            We believe that the task ahead of us is huge. Your support in this would greatly help the cause and actually bring an
            impact. With these objectives, we wish to work together to organize a blood donation camp with your support.
            </p>
            <p>
                We are looking for active Volunteers and potential Blood Donors. You can contribute in either way for the cause!
            </p>
        </div>
        <div>
          <h1 class="anihidden">
            Objectives
          </h1>
          <p class="anihidden">
            To donate blood to the needy.
          </p>
        </div>
        <div>
          <h1 class="anihidden">
            Wanna Donate/Volunteer ?
          </h1>
          <form action="">

          </form>
        </div>
      </div>
    </section>
  </main>
  <%- include('shared/includes/footer') %>