<%- include('shared/includes/head', {pageTitle: "Clothes Distribution"}) %>
</head>

<body>
  <%- include('shared/includes/header') %>
  <main>
    <section>
      <div class="container clothes_distribution">
        <div class="anihidden">
          <h1>
            Clothes Distribution
          </h1>
          <p>
            Clothes were distributed by Sankalp Club in the remote areas nearby LNMIIT on 10
            January 2019. In this act, Sankalp club members move door to door of their faculties
            and students and gather the woollen clothes. After the collection, the members
            distributed clothes in nearby areas. They were suffering from Leprosy, so when we
            gave them some woollen clothes and talked to them politely they were overjoyed.
            We went to Galta Ji Temple, where we distributed clothes and arranged some food
            for needy people and strays.
          </p>
          <p>
            The project collects donations of clothes, shoes, blankets, toys, books and other items from LNMIIT students, faculty and staff, as well as from local residents and businesses. The project then sorts, cleans and packs the donated items and distributes them to various slums, orphanages, old age homes and rural areas. The project also organizes awareness campaigns and workshops on hygiene, health and education for the beneficiaries.
          </p>
          <p>
            The project has also received recognition and appreciation from various organizations and media outlets for its noble cause. The project is entirely run by volunteers who dedicate their time and energy to make this world a better place. The project welcomes anyone who wants to join or support this mission of spreading happiness and hope.
          </p>
        </div>
        <div>
          <h1 class="anihidden">
            Objectives
          </h1>
          <p class="anihidden">
            To provide clothes to the needy, Provide a shelter to them in their hard times.
          </p>
        </div>
        <div>
          <h1 class="anihidden">
            Full Report
          </h1>
          <p  class="anihidden">
          <a href="https://naac.lnmiit.ac.in/3.6.3_3.6.4/39.pdf" target="_blank">▸ Clothes Distribution Report</a>
        </p>
        </div>
        <div>
            <h1 class="anihidden">
                Wanna Volunteer ?
            </h1>
            <form action="">

            </form>
        </div>
      </div>
    </section>
  </main>
  <%- include('shared/includes/footer') %>