<%- include('shared/includes/head', {pageTitle: "Contact Us"}) %>
</head>
<body>
    <%- include('shared/includes/header') %>
    <main>
        <section>
          <div class="container contact">
            <h1  class="anihidden">
              Contact Us
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.0"
                width="50"
                height="50"
                viewBox="0 0 512.000000 512.000000"
                preserveAspectRatio="xMidYMid meet"
              >
                <g
                  transform="translate(0.000000,595.000000) scale(0.100000,-0.100000)"
                  fill="#3c00ff"
                  stroke="none"
                >
                  <path
                    d="M1388 4264 c-62 -19 -149 -99 -176 -161 -11 -27 -23 -81 -27 -121 -6 -63 -10 -72 -24 -67 -45 19 -88 26 -121 21 -47 -7 -511 -208 -547 -236 -62 -48 -129 -168 -158 -281 -41 -159 -27 -324 47 -557 176 -553 781 -1267 1436 -1697 148 -97 367 -205 512 -253 294 -98 524 -93 719 15 111 61 126 85 247 365 96 223 109 260 109 309 -1 35 -7 65 -18 82 -9 15 -17 29 -17 31 0 3 271 6 603 8 l602 3 56 26 c66 31 124 87 153 149 21 45 21 50 24 1087 2 1036 2 1042 -19 1097 -28 77 -97 146 -172 174 l-58 22 -1562 -1 c-1330 0 -1569 -3 -1609 -15z m3188 -218 l34 -34 0 -1005 0 -1004 -23 -34 c-12 -18 -33 -36 -47 -40 -14 -4 -353 -7 -755 -8 l-730 -1 -194 115 c-209 123 -253 139 -320 115 -32 -11 -178 -88 -386 -201 l-71 -38 -352 352 -351 352 114 212 c62 117 119 228 126 246 23 65 6 112 -116 320 l-115 194 0 214 c0 230 4 249 54 269 11 5 713 9 1559 9 l1539 1 34 -34z m-3346 -582 c85 -144 165 -279 177 -301 l22 -39 -115 -214 c-63 -118 -120 -233 -126 -255 -14 -53 -4 -102 32 -157 43 -64 743 -749 788 -770 44 -21 86 -22 133 -6 19 6 129 62 245 125 l211 113 299 -176 c165 -97 302 -180 307 -184 4 -3 -8 -40 -26 -81 -19 -41 -60 -137 -92 -214 -32 -77 -67 -150 -79 -163 -32 -36 -133 -79 -216 -93 -127 -21 -287 7 -474 82 -512 205 -1106 720 -1484 1286 -234 351 -349 683 -313 902 14 82 46 160 83 205 17 20 80 52 233 117 116 48 217 87 225 86 8 -1 84 -120 170 -263z"
                  />
                  <path
                    d="M1628 3923 c-35 -22 -52 -63 -44 -107 6 -30 63 -83 471 -436 256 -221 467 -406 470 -411 3 -5 -138 -123 -313 -263 -176 -140 -322 -262 -326 -271 -35 -93 54 -176 136 -128 26 15 575 446 649 509 13 12 33 -1 150 -101 181 -155 172 -155 346 -4 70 61 133 113 140 116 7 3 223 -157 482 -356 258 -198 481 -365 495 -371 44 -16 66 -12 97 19 33 34 40 91 14 128 -8 12 -219 178 -468 369 -248 191 -454 349 -456 351 -3 2 15 20 40 41 188 160 859 745 879 766 68 74 -25 202 -112 155 -22 -12 -355 -298 -1126 -967 -138 -120 -155 -132 -170 -119 -10 7 -287 247 -617 533 -330 285 -613 529 -629 542 -34 26 -71 28 -108 5z"
                  />
                </g>
              </svg>
            </h1>
            <div>
              <div class="postal anihidden">
                <h2>Postal Address</h2>
                <div>
                  <h3>The LNM Institute of Information Technology</h3>
                  <p>
                    Rupa ki Nangal, Post-Sumel, Via-Jamdoli <br />
                    Jaipur-302031, <br />
                    (Rajasthan) INDIA
                  </p>
                </div>
                <h2>Contact</h2>
                <div>
                  <p><strong>Room No:</strong>2112, The LNMIIT Campus</p>
                  <p>
                    <strong>Email Id:</strong>
                    <a href="mailto:mjadon@lnmiit.ac.in">mjadon@lnmiit.ac.in</a>
                  </p>
                </div>
              </div>
              <div class="map anihidden">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3556.9661182630907!2d75.92091417531857!3d26.936288576633093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dba21e8a1d1c9%3A0x5ab565cce4d44c2b!2sThe%20LNM%20Institute%20of%20Information%20Technology!5e0!3m2!1sen!2sin!4v1687668936094!5m2!1sen!2sin"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </section>
      </main>
<%- include('shared/includes/footer') %>