<%- include('shared/includes/head', {pageTitle: "Home | National Service Scheme"}) %>
</head>

<body>
  <%- include('shared/includes/header') %>
  <main>
    <section class="main-content anihidden">
      <div class="container">
        <div class="main-row">
          <div class="banner-p-right">
            <div class="carousel">
              <div class="carousel-inner">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked" />
                <div class="carousel-item">
                  <img title="NSS LNMIIT Team" src="images/banner/IMG_0011.jpg" alt="NSS LNMIIT Team" />
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="" />
                <div class="carousel-item">
                  <img title="World Environment Day - 5 June" src="images/banner/IMG_0068.jpg" alt="World Environment Day - 5 June" />
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="" />
                <div class="carousel-item">
                  <img title="Mr. Mukesh Jadon - Coordinator " src="images/banner/IMG_0096.jpg" alt="Mukesh Jadon Sir - Coordinator" />
                </div>
                <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="" />
                <div class="carousel-item">
                  <img title="Templates and Posters" src="images/banner/IMG_0334.jpg" alt="Templates and Posters" />
                </div>
                <label for="carousel-4" class="carousel-control prev control-1">‹</label>
                <label for="carousel-3" class="carousel-control prev control-4">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-4" class="carousel-control next control-3">›</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-1" class="carousel-control next control-4">›</label>
                <ol class="carousel-indicators">
                  <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                  </li>
                  <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                  </li>
                  <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                  </li>
                  <li>
                    <label for="carousel-4" class="carousel-bullet">•</label>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="news anihidden">
            <h2>IMPORTANT DATES</h2>
            <div id="scroll-container">
              <div id="scroll-text">
                <hr />
                <p>12 December 2023 -- Labour's Day</p>
                <hr />
                <p>02 February 2023 -- Village Visit</p>
                <hr />
                <a href="/clothes_distribution" target="_blank"><p>30 January 2023 -- Clothes Distribution</p></a>
                <hr />
                <p>24 March 2023 -- Plantation</p>
                <hr />
                <a href="/blood_donation" target="_blank"><p>25 May 2023 -- Blood Donation</p></a>
                <hr />
                <p>05 June 2023 -- Environment Day</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="about-nss container">
        <div class="anihidden">
          <h2>Welcome to NSS</h2>
          <p>
            The National Service Scheme (NSS) is a voluntary programme that aims to develop the personality and social responsibility of students through community service. The NSS was launched in India in 1969 and has since grown to become one of the largest youth movements in the world. The NSS motto is "Not Me But You", which reflects the spirit of selfless service and empathy for others.
             <br> The NSS offers various opportunities for students to participate in different activities such as blood donation, environmental protection, disaster relief, literacy campaigns, health awareness, cultural programmes and more. The NSS also organises special camps, workshops and training programmes to enhance the skills and knowledge of the volunteers. The NSS helps students to develop a sense of civic duty, leadership, teamwork and social awareness.
             <br>The NSS is a great platform for students to contribute to the society and the nation while also enriching their own personality and career prospects. The NSS enables students to learn from their experiences, interact with diverse people and cultures, and make a positive difference in the lives of others. The NSS is not just a scheme, but a way of life.
            <a href="/about_us">Read More</a>
          </p>
        </div>
      </div>
    </section>
    <section id="objective">
      <div class="container">
        <div class="about-us">
          <div class="about-content">
            <div class="anihidden">
              <h2>Our <i>Vision</i></h2>
              <p>
                With a vision to spread social harmony across & evolve student
                youth as accomplished social leaders & administrators.
              </p>
            </div>
            <div class="anihidden">
              <h2>Our <i>Objectives</i></h2>
              <p>
                Motivate students at LNMIIT Jaipur to indulge in nation
                building activities. Help and work for the benefit of people
                in and around LNMIIT.
                <br />
                <br />
                <i>NOT ME, BUT YOU!</i>
              </p>
            </div>
            <div class="anihidden">
              <h2>Who <i>are we?</i></h2>
              <p>
                NSS-LNMIIT, is the most active and perseverent organization in
                the campus in the field of social/community service. We
                provide opportunities to students to contribute their bit in
                the welfare of the society.
              </p>
            </div>
          </div>
          <div class="anihidden">
            <img src="images/banner/tree.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="activities" class="recent-event">
      <div class="container">
        <h2 class="anihidden" id="activity">Recent Events</h2>
        <ul>
          <li class="anihidden">
            <div class="event-image">
              <img src="images/banner/IMG_0338.jpg" alt="Environment Day" title="Environment Day" />
            </div>
            <div class="item-content">
              <div>
                <h3>Environment Day</h3>
                <p>
                  The United Nations designated 5 June as World Environment
                  Day to highlight that the protection and health of the
                  environment is a major issue, which affects the well-being
                  of peoples and economic development throughout the world.
                  The celebration of this day provides us with an opportunity
                  to broaden the basis for an enlightened opinion and
                  responsible conduct by individuals, enterprises and
                  communities in preserving and enhancing the environment.
                </p>
              </div>
              <div class="actions">
                <a href="https://drive.google.com/drive/folders/10ACE9mOOOqhvnd21stfzYvq0uo53sMEn">Explore →</a>
              </div>
            </div>
          </li>
          <li class="anihidden">
            <img src="images/banner/_DSC0090.jpg" alt="Faculty and Students" title="Yoga Day" />
            <div class="item-content">
              <div>
                <h3>Yoga Day</h3>
                <p>
                  Yoga is the art work of awareness on the canvas of body,
                  mind, and soul. Celebrated on June 21, International Yoga
                  Day celebrates the physical and spiritual prowess that yoga
                  has brought to the world stage. While it is an important
                  source of exercise and healthy activity millions join in and
                  practice on a daily basis.
                </p>
              </div>
              <div class="actions">
                <a href="https://drive.google.com/drive/folders/14U-Bn6GVjvvMMbJnH6nzgWqO8O46jxs8">Explore →</a>
              </div>
            </div>
          </li>
          <li class="anihidden">
            <img src="images/banner/DSC_0647.jpg" alt="Sahyog 2023" title="Sahyog 2023" />
            <div class="item-content">
              <div>
                <h3>Sahyog 2023</h3>
                <p>
                  Sahyog organized by Sankalp in association with CWPH and NSS
                  for the children of Prayas NGO on 17 February 2023.
                  Sahyog4.0 was a perfect example that doing good for others
                  results in a lot of satisfaction and peace. We believe that
                  the success of the event was due to everyone's dedication
                  and commitment to making a difference in the lives of the
                  children and moreover a community. Your efforts are truly
                  appreciated, and we are grateful for the opportunity to be a
                  part of such a wonderful cause. Sahyog was organised after a
                  long gap and the amount of success it gained is appreciable.
                  We would like to thank our Faculty Mentor Dr. Amit Neogi and
                  NSS Faculty In-charge Mr. Mukesh Jadon for always being a
                  constant support and providing valuable help whenever
                  required.
                  <br />
                  In SAHYOG, we would be inviting children from Prayas NGO and
                  the nearby slums; interacting with them alongside singing,
                  dancing and playing game. This would be followed by a
                  drawing competition and a talent hunt for the children,
                  making sure they have a joyful time with the students of our
                  college. With your blessings, the event was huge in its
                  previous editions, and we look forward to keeping this trend
                  going! Hence, we would like to cordially invite you to come
                  and be the part of this gleeful event and help us make it a
                  grand success!
                </p>
              </div>
              <div class="actions">
                <a href="https://drive.google.com/drive/u/0/folders/139hvy1cdAcF1bZPB5PYIk7--uftjJYtD">Explore →</a>
              </div>
            </div>
          </li>
          <li class="anihidden">
            <img src="images/banner/DSC_0069.jpg" alt="Blood Connect" title="Blood Connect" />
            <div class="item-content">
              <div>
                <h3>Blood Connect</h3>
                <p>
                  Blood donation is the highest service one can render to
                  humanity. With this thought, Nirog Club is organising Blood
                  Donation program on 23rd September 2022. This small activity
                  can save the lives of many people. Hence, we request your
                  participation and request you to invite your friends and
                  other people you know for this noble cause. There is a
                  general misconception among people that blood donation leads
                  to physical weakness which has been proved irrational
                  medically and is just a psychological effect. Donating blood
                  every 3 months has been proven healthy.
                </p>
              </div>
              <div class="actions">
                <a href="https://drive.google.com/drive/u/0/folders/1OfMBRWAH1BTEagU__NIMWB604y8TG4uK">Explore →</a>
              </div>
            </div>
          </li>
          <li class="anihidden">
            <img src="images/banner/Copy of DSC_0521.jpg" alt="Happy Face of a Child" title="Village Visit" />
            <div class="item-content">
              <div>
                <h3>Village Visit</h3>
                <p>
                  LNMIIT regularly reaches out to the villages surrounding the
                  campus for multiple activities related to their education or
                  health. It tries to impart computer education to children in
                  surrounding schools.
                </p>
              </div>
              <div class="actions">
                <a href="https://drive.google.com/drive/u/0/folders/139hvy1cdAcF1bZPB5PYIk7--uftjJYtD">Explore →</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="main-instructor">
          <h2 class="anihidden">Our Instructors</h2>
          <ul>
            <li>
              <article  class="anihidden">
                <img src="images/banner/IMG_0096.jpg" alt="Mr. Mukesh Jadon working in events" />
                <div>
                  <div>
                    <h3>Mukesh K Jadon</h3>
                    <p>Faculty Incharge</p>
                  </div>
                  <ul>
                    <li>
                      <a target="_blank" href="https://www.lnmiit.ac.in/Employee_ProfileNew.aspx?nDeptID=eagga"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="24" height="24" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" fill="currentColor" stroke="currentColor">
                          <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                            <path d="M2321 5110 c-766 -75 -1462 -491 -1893 -1135 -156 -233 -302 -572 -362 -840 -49 -219 -60 -324 -60 -575 0 -250 11 -355 60 -575 73 -328 242 -689 452 -967 409 -541 1000 -888 1692 -995 161 -24 539 -24 700 1 452 69 840 231 1197 497 126 94 398 366 492 492 266 357 428 745 497 1197 25 161 25 539 1 700 -82 530 -304 1001 -646 1373 -406 440 -919 715 -1508 807 -148 24 -475 34 -622 20z m641 -1017 c185 -88 264 -290 183 -471 -30 -65 -113 -148 -180 -178 -195 -89 -440 -11 -533 171 -37 73 -43 197 -11 280 28 75 114 165 192 201 108 49 241 48 349 -3z m-387 -1037 c234 -50 359 -219 340 -460 -11 -135 -23 -189 -115 -518 -118 -416 -133 -483 -134 -598 -2 -145 29 -183 163 -200 72 -9 166 2 249 31 30 10 56 19 57 19 10 0 -44 -174 -56 -180 -37 -21 -340 -129 -394 -141 -76 -16 -262 -16 -340 1 -92 19 -164 58 -231 125 -87 86 -108 144 -108 295 1 143 13 205 120 583 110 391 127 463 128 572 1 104 -16 145 -74 180 -30 17 -51 20 -140 19 -87 0 -118 -5 -178 -27 l-72 -26 5 22 c3 12 13 53 23 91 l17 68 55 22 c110 45 303 108 368 121 87 17 241 18 317 1z" />
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:mjadon@lnmiit.ac.in"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="24" height="24" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" fill="currentColor" stroke="currentColor">
                          <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                            <path d="M404 4595 c-191 -41 -358 -213 -394 -404 -14 -74 -14 -3188 0 -3262 37 -194 204 -363 399 -405 99 -21 4203 -21 4302 0 195 42 362 211 399 405 14 74 14 3188 0 3262 -37 194 -204 363 -399 405 -95 20 -4214 19 -4307 -1z m1282 -1035 l874 -539 874 540 874 540 149 -3 148 -3 0 -1535 0 -1535 -252 -3 -253 -2 0 1126 c0 974 -2 1125 -14 1121 -8 -3 -353 -220 -766 -481 -413 -262 -755 -476 -760 -476 -5 0 -347 214 -760 476 -413 261 -758 478 -766 481 -12 4 -14 -147 -14 -1121 l0 -1126 -252 2 -253 3 -3 1525 c-1 839 0 1531 3 1538 3 9 43 12 151 12 l147 0 873 -540z" />
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://in.linkedin.com/in/mukesh-jadon-a1344139">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <%- include('shared/includes/footer') %>