<%- include('shared/includes/head', {pageTitle: "Media"}) %>
</head>

<body>
  <%- include('shared/includes/header') %>
  <main>
    <section>
      <div class="container media">
        <div class="media-content">
          <h1  class="anihidden"> Media
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="50" height="50" viewBox="0 0 360.000000 360.000000" preserveAspectRatio="xMidYMid meet">

              <g transform="translate(0.000000,440.000000) scale(0.100000,-0.100000)" fill="#3c00ff" stroke="none">
                <path d="M535 2777 c-26 -14 -48 -37 -62 -67 l-23 -44 0 -866 0 -866 23 -44 c14 -30 36 -53 62 -67 l40 -23 1225 0 1225 0 40 23 c26 14 48 37 63 67 l22 44 0 866 0 866 -22 44 c-15 30 -37 53 -63 67 l-40 23 -1225 0 -1225 0 -40 -23z m2485 -107 c20 -20 20 -33 20 -870 0 -837 0 -850 -20 -870 -18 -18 -33 -20 -128 -20 l-107 0 -220 351 c-120 193 -230 359 -243 370 -31 24 -83 25 -111 2 -12 -10 -72 -100 -135 -201 l-114 -183 -222 358 c-122 197 -235 370 -251 386 -23 21 -39 27 -75 27 -39 0 -51 -5 -78 -32 -17 -18 -177 -268 -356 -555 -300 -483 -327 -522 -352 -523 -16 0 -37 9 -48 20 -20 20 -20 33 -20 870 0 837 0 850 20 870 20 20 33 20 1220 20 1187 0 1200 0 1220 -20z m-1280 -1277 l299 -478 -621 -3 c-342 -1 -623 -1 -625 1 -2 2 134 222 301 490 167 267 308 491 312 498 9 16 -28 71 334 -508z m715 -168 c93 -148 175 -280 183 -292 l14 -23 -238 0 -239 0 -74 117 c-56 91 -71 121 -63 133 6 8 59 93 118 188 85 137 110 170 119 160 7 -7 88 -134 180 -283z" />
                <path d="M2345 2496 c-125 -57 -184 -193 -145 -331 19 -69 105 -156 172 -174 103 -29 192 -11 265 52 150 133 115 374 -67 456 -64 29 -159 28 -225 -3z m203 -113 c51 -38 67 -70 67 -133 0 -44 -5 -66 -21 -87 -74 -100 -201 -98 -271 6 -52 77 -13 192 77 230 37 16 117 7 148 -16z" />
              </g>
            </svg>
          </h1>
          <p  class="anihidden">"What I like about photographs is that they capture a moment that's gone forever, impossible to reproduce." - Karl Lagerfeld</p>
        </div>
        <div class="media-view">
          <ul>
            <li class="image_wrapper anihidden">
              <a href="https://drive.google.com/drive/folders/10ACE9mOOOqhvnd21stfzYvq0uo53sMEn?usp=sharing">
                <img src="images/banner/IMG_0297.jpg" alt="Students with templates" />
                <div class="overlay">
                  <h3>Environment Day</h3>
                  <br>
                  <p>The World Environment Day Celebration inaugurated by the Director, LNMIIT by planting a sapling at the famous “Great Wall of LNMIIT”. This year, the theme is #BeatPlasticPollution.</p>
                </div>
              </a>
            </li>
            <li class="image_wrapper anihidden">
              <a href="https://drive.google.com/drive/folders/139hvy1cdAcF1bZPB5PYIk7--uftjJYtD?usp=sharing">
                <img src="images/banner/Copy of DSC_0634.jpg" alt="Faculty Mentors and students" />
                <div class="overlay">
                  <h3>Sahyog</h3>
                  <br>
                  <p>Sahyog organized by Sankalp in association with CWPH and NSS for the children of Prayas NGO.We would like to thank our Faculty Mentor Dr. Amit Neogi and NSS Faculty In-charge Mr. Mukesh Jadon for always being a constant support and providing valuable help whenever required.</p>
                </div>
              </a>
            </li>
            <li class="image_wrapper anihidden">
              <a href="https://drive.google.com/drive/folders/1OfMBRWAH1BTEagU__NIMWB604y8TG4uK?usp=sharing">
                <img src="images/banner/DSC00429.jpg" alt="Blood Connect Team" />
                <div class="overlay">
                  <h3>Blood Connect</h3>
                  <br>
                  <p>BloodConnect is India’s largest youth-led organization that works with colleges, corporates, and RWAs to help the blood banks be blood sufficient. In collaboration with PLINTH'23 we are providing camps to contribute for the good cause.</p>
                </div>
              </a>
            </li>
            <li class="image_wrapper anihidden">
              <a href="https://drive.google.com/drive/folders/14U-Bn6GVjvvMMbJnH6nzgWqO8O46jxs8?usp=sharing">
                <img src="images/banner/yoga.jpg" alt="Instructor" />
                <div class="overlay">
                  <h3>Yoga Day</h3>
                  <br>
                  <p>Yoga is the art work of awareness on the canvas of body, mind, and soul. Following dignitaries graced the occassion: Dr. Rahul Banerjee (Director), Dr. Arpi Majumdar</p>
                </div>
              </a>
            </li>
            <li class="image_wrapper anihidden">
              <a href="/sahyog">
                <img src="images/banner/Copy of DSC_0634.jpg" alt="" />
                <div class="overlay">
                  <h3>Sahyog</h3>
                  <br>
                  <p>Sahyog organized by Sankalp in association with CWPH and NSS for the children of Prayas NGO.We would like to thank our Faculty Mentor Dr. Amit Neogi and NSS Faculty In-charge Mr. Mukesh Jadon for always being a constant support and providing valuable help whenever required.</p>
                </div>
              </a>
            </li>
            <li class="image_wrapper anihidden">
              <a href="/sahyog">
                <img src="images/banner/Copy of DSC_0634.jpg" alt="" />
                <div class="overlay">
                  <h3>Sahyog</h3>
                  <br>
                  <p>Sahyog organized by Sankalp in association with CWPH and NSS for the children of Prayas NGO.We would like to thank our Faculty Mentor Dr. Amit Neogi and NSS Faculty In-charge Mr. Mukesh Jadon for always being a constant support and providing valuable help whenever required.</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <%- include('shared/includes/footer') %>