<footer>
    <section class="footer-top">
      <section>
        <div>
          <ul class="resources">
            <li>
              <h3>Other Resources</h3>
              <ul class="resource-items">
                <li>
                  <a target="_blank" href="https://nss.gov.in/"
                    >↬ NSS Official</a
                  >
                </li>
                <li>
                  <a
                    href="https://nss.gov.in/sites/default/files/manualNss2006.pdf"
                    >↬ NSS Manual
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/_NSSIndia"
                    >↬ NSS Twitter</a
                  >
                </li>
                <li>
                  <a target="_blank" href="https://swachhbharat.mygov.in/"
                    >↬ Swachh Bharat</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <h3>LNMIIT Resources</h3>
              <ul class="resource-items">
                <li>
                  <a target="_blank" href="https://www.lnmiit.ac.in"
                    >↬ LNMIIT</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.lnmiit.ac.in/uploaded_files/Way%20to%20LNMIIT.pdf"
                    >↬ Way to LNMIIT</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.lnmiit.ac.in/HowToReach.html"
                    >↬ How to Reach</a
                  >
                </li>
                <li>
                  <a target="_blank" href="https://sankalp.lnmiit.ac.in"
                    >↬ Sankalp | Welfare Society</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
      <hr />
      <section class="newsletter">
        <div>
          <h2>Subscribe to our newsletter</h2>
          <p>
            Be the first to be informed about all our events, seminars & more
          </p>
        </div>
        <form method="post" action="/newsletter">
          <input
            type="email"
            placeholder="Enter your email address"
            aria-label="Enter your email address"
            name="email"
          />
          <button>Sign Up</button>
        </form>
      </section>
    </section>
    <section class="footer-bottom">
      <p>© LNMIIT All rights reserved.</p>
    </section>
  </footer>
</body>
</html>