<button onclick="topFunction()" id="myBtn" title="Go to top">
  <i>↑</i>
</button>
<section class="header-top">
  <div class="header-menu-top">
    <div class="container">
      <div class="row">
        <div class="row-left">
          <ul>
            <li>
              <a target="_blank" href="https://www.india.gov.in/"
                >Government of India</a
              >
            </li>
            <li>
              <a target="_blank" href="https://nss.gov.in/">NSS-Official</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="row-right">
          <ul>
            <li>
              <a target="_blank" href="#">Login</a>
            </li>
            <li>
              <a  href="/about_us#member">Members</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
