<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="National Service Scheme, LNMIIT Jaipur, is the most active and perseverent organization in the campus in the field of social/community service. We provide opportunities to students to contribute their bit in the welfare of the society. The motto of National Service Scheme is NOT ME BUT YOU"
    />
    <meta
      property="og:title"
      content="National Service Shceme - LNMIIT Jaipur"
    />
    <meta
      property="og:description"
      content="National Service Scheme, LNMIIT Jaipur, is the most active and perseverent organization in the campus in the field of social/community service. We provide opportunities to students to contribute their bit in the welfare of the society. The motto of National Service Scheme is NOT ME BUT YOU"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&amp;family=Roboto+Slab:wght@400;700&amp;family=Open+Sans&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="images/favicon_io/favicon.ico"
    />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/back-to-top.js" defer></script>
