<nav class="menu">
  <ul class="menu-items">
    <li>
      <a href="/"> <span>Home</span></a>
    </li>
    <li>
      <a style="cursor: default;"> <span>Organisation</span></a>
      <ul>
        <li>
          <a href="/about_us"><span>About Us</span></a>
        </li>
        <li>
          <a href="/#objective"><span>Objectives</span></a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/#activity"> <span>Activities</span></a>
      <!-- <div class="submenu"> -->
      <ul class="activity">
        <li>
          <a href="/clothes_distribution"><span>Clothes Distribution</span></a>
        </li>
        <li>
          <a href="/blood_donation"><span>Blood Donation</span></a>
        </li>
        <li>
          <a href=""><span>Labour's Day</span></a>
        </li>
        <li>
          <a href=""><span>Village Visit</span></a>
        </li>
        <li>
          <a href=""><span>Waste Management</span></a>
        </li>
      </ul>
      <!-- </div> -->
    </li>
    <li>
      <a href="/about_us#member"> <span>Community</span></a>
    </li>
    <li>
      <a href="/media"><span>Media</span></a>
    </li>
  </ul>
</nav>
